
.titulo-principal{
    font-family: monospace;
    text-align: center;
    border-bottom: 2px solid #007bff; /* Cambia el color del subrayado */
    display: inline-block; /* Asegura que el subrayado solo se extienda hasta el final del título */
    padding-bottom: 5px; 
    font-size: 200%;
  }

body {
    background-color: #bad9fb;
    margin: 0;
  }

/* menu estatico*/
header {
    background-color: #5a8ee9e4;
    padding: 30px 0;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  nav li {
    display: inline-block;
    margin: 0 10px;
  }
  
  nav li a {
    color: #fff;
    text-decoration: none;
    padding: 20px 40px;
  }
  
  nav li a:hover {
    background-color: #98b4f1;
  }

.hoja-de-vida{
    float: right;
    place-items: right;
    height: 100%;
}

footer {
    background-color: #bad9fb;
    padding: 30px;
    text-align: center;
    color: #666;
  }

  main{
    margin: 100px;
    margin-top: 50px;
}

.imagen-caseta{
        margin: 50px;
  }

  
  *{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    text-align: left;
  }

.secciones-subsecciones{
    font-size: large;
  }

/* styles.css lista no enumerada 1*/
.lista-no-enumerada-uno {
  list-style: none;
  padding-left: 20px;
}

.lista-no-enumerada-uno li {
  position: relative;
  margin-bottom: 10px;
}

.lista-no-enumerada-uno li::before {
  content: "\2022";
  position: absolute;
  left: -20px;
  color: #007bff; /* Cambia el color de las viñetas */
}

.viñeta-color {
  color: #ff5733; /* Cambia el color del texto de las viñetas */
}


  /* styles.css lista numerada uno*/
.lista-numerada-uno {
  list-style: none;
  counter-reset: my-counter;
  padding-left: 20px;
}

.lista-numerada-uno li {
  position: relative;
  margin-bottom: 10px;
}

.lista-numerada-uno li::before {
  content: counter(my-counter) ".";
  counter-increment: my-counter;
  position: absolute;
  left: -20px;
  color: #ff5733; /* Cambia el color de las viñetas */
}

.lista-numerada-uno li span {
  color: #007bff; /* Cambia el color del texto de las viñetas */
}

  /* styles.css lista no enumerada 1 */
.lista-no-enumerada-dos {
  list-style: none;
  padding-left: 20px;
}

.lista-no-enumerada-dos li {
  position: relative;
  margin-bottom: 10px;
}

.lista-no-enumerada-dos li::before {
  content: "\2022";
  position: absolute;
  left: -20px;
  color: #ff5733; /* Cambia el color de las viñetas */
}

.lista-no-enumerada-dos li span {
  color: #007bff; /* Cambia el color del texto de las viñetas */
}

/* styles.css numerada 2*/
.lista-numerada-dos {
  list-style: none;
  counter-reset: my-counter;
  padding-left: 20px;
}

.lista-numerada-dos li {
  position: relative;
  margin-bottom: 10px;
}

.lista-numerada-dos li::before {
  content: counter(my-counter) ".";
  counter-increment: my-counter;
  position: absolute;
  left: -20px;
  color: #ff5733; /* Cambia el color de las viñetas */
}

.lista-numerada-dos li span {
  color: #007bff; /* Cambia el color del texto de las viñetas */
}

.seccion-uno{

  border: 2px solid #333;
  background: linear-gradient(to bottom, #f0f0f0, #c0c0c0); /* Fondo en gradiente */
  padding: 20px;
  margin: 20px 0;
}

.seccion-dos{
  border: 2px solid #333;
  background: linear-gradient(to bottom, #f0f0f0, #c0c0c0); /* Fondo en gradiente */
  padding: 20px;
  margin: 20px 0;
}

.seccion-tres{

  border: 2px solid #333;
  background: linear-gradient(to bottom, #f0f0f0, #c0c0c0); /* Fondo en gradiente */
  padding: 20px;
  margin: 20px 0;
}

.seccion-cero{

  border: 2px solid #333;
  background: linear-gradient(to bottom, #f0f0f0, #c0c0c0); /* Fondo en gradiente */
  padding: 20px;
  margin: 20px 0;
}
