@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;500&display=swap');

/*Menu estatico*/
header {
  background-color: #5a8ee9e4;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav li a {
  color: #fff;
  text-decoration: none;
  padding: 20px 40px;
}

nav li a:hover {
  background-color: #98b4f1;
}

.titulo-principal{
  border-bottom: 2px solid #007bff; /* Agrega un subrayado al título */
  display: inline-block;
  padding-bottom: 5px;
  font-family: 'Inconsolata', monospace;
}

.titulo-dos{
  border-bottom: 2px solid #007bff; /* Agrega un subrayado al título */
  display: inline-block;
  padding-bottom: 5px;
  font-family: 'Inconsolata', monospace;
}

.titulo-tres{
  border-bottom: 2px solid #007bff; /* Agrega un subrayado al título */
  display: inline-block;
  padding-bottom: 5px;
  font-family: 'Inconsolata', monospace;
}
  
  

  table {
    border-collapse: collapse; /* Fusiona los bordes de las celdas adyacentes */
    width: 20%; /* O el ancho deseado para la tabla */
    margin: 1rem;
  }
  
  th, td {
    border: 1px solid #0616a3; /* Agrega bordes a las celdas */
    padding: 8px; /* Espacio entre el contenido de la celda y el borde */
    text-align: left; /* Alineación del texto dentro de las celdas */
    font-family: 'Inconsolata', monospace;
  }
  

  th {
    background-color: #010018; /* Color de fondo para las celdas del encabezado */
    color:#ffffff
  }

  footer {
    background-color: #ffffff;
    padding: 30px;
    text-align: center;
    color: #666;
  }