
body {
    background-color: #000000;
    margin: 0;
  }

/* menu estatico*/
header {
    background-color: #ffffffe4;
    padding: 30px 0;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  nav li {
    display: inline-block;
    margin: 0 10px;
  }
  
  nav li a {
    color: #000000;
    text-decoration: none;
    padding: 20px 40px;
  }
  
  nav li a:hover {
    background-color: #98b4f1;
  }

.imagen-metallica{
    float: right;
    margin-right: 300px;
}

main{
    margin: 100px;
    margin-top: 50px;
}

.titulo-primero{
    color:#ffffff
}

.titulo-segundo{
    color:#ffffff
}

.titulo-tercero{
    color:#ffffff
}

.titulo-cuarto{
    color:#ffffff
}
.banda-fav{
    color:#ffffff
}
.parrafo-principal{
    color:#ffffff
}

.lista-MUSICA{
    color:#ffffff
}

.aesthetic{
    color:#ffffff
}

.texto-quinto{
    color:#ffffff
}

.arg{
    float:right;
    margin-right: 100px;
}

*{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    text-align: left;
  }