.titulo-principal {
    font-family: monospace;
    text-align: center;
}
h3 {
    font-family: monospace;
}
/* menu estatico*/
header {
    background-color: #5a8ee9e4;
    padding: 30px 0;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  nav li {
    display: inline-block;
    margin: 0 10px;
  }
  
  nav li a {
    color: #fff;
    text-decoration: none;
    padding: 20px 40px;
  }
  
  nav li a:hover {
    background-color: #98b4f1;
  }

  main{
    margin: 100px;
    margin-top: 50px;
}
body {
    background-color: #bad9fb;
    margin: 0;
  }
  
.texto-inicial{
    text-align: justify;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*todo lo de la tabla */
table {
    float: right;
    border-collapse: collapse; /* Fusiona los bordes de las celdas adyacentes */
    width: 20%; /* O el ancho deseado para la tabla */
    margin: 1rem;
  }
  
  th, td {
    border: 1px solid #0616a3; /* Agrega bordes a las celdas */
    padding: 8px; /* Espacio entre el contenido de la celda y el borde */
    text-align: left; /* Alineación del texto dentro de las celdas */
  }
  
  th {
    background-color: #f2f2f2; /* Color de fondo para las celdas del encabezado */
  }
.contenedor-tabla{
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  
}