 /* posición, marco y tamaño*/
.yo{
    float: left;
    border: 3px solid #000;
    padding: 5px;
    display: inline-flex;
    margin-top: 180px;
}
 /* pie de pagina: se le pone el color, entrado , tamaño, etc*/
footer {
    background-color: #bad9fb;
    padding: 30px;
    text-align: center;
    color: #666;
  }
  
/* menu estatico*/
header {
  background-color: #5a8ee9e4;
  padding: 30px 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav li a {
  color: #fff;
  text-decoration: none;
  padding: 20px 40px;
}

nav li a:hover {
  background-color: #98b4f1;
}
/* coloar el texto mas abajo*/
.introduccion {
    margin-top: 30px;
  }
.titulo-principal {
    text-align:center;
  }
/*Color a la pagina web*/
body {
    background-color: #bad9fb;
  }
